<h2>Por País</h2>
<hr>
<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" action="">
            <input autocomplete="off" type="text" name="value" placeholder="Buscar país..." [(ngModel)]="value" class="form-control">
        </form>
    <hr>
    </div>

    <div *ngIf="this.hayError" class="alert alert-danger"> No se encontro nada con {{this.value}} .</div>

<div *ngIf="this.paises.length > 0"  class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Poblacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises; let i = index;">
                    <td>{{i +1}}</td>
                    <td><img class="small-flag" [src]="pais.flag" alt=""></td>
                    <td>{{pais.name}}</td>
                    <td>{{pais.population | number}}</td>
                    <td><a [routerLink]="['/pais',pais.alpha2Code]">Ver ...</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</div>